@import '../../../styles/_typography'
@import '../../../styles/_variables'
.rbc-calendar
    width: 100%
    height: 100%
    .rbc-timeslot-group
        min-height: 72px
        border-bottom: none
    .rbc-toolbar
        flex-direction: row-reverse
        .rbc-toolbar-label
            text-align: start
        .rbc-toolbar-label
            +typography(24px, 600, map-get($basic, 'black'))
    .rbc-event
        border: none
        width: 100% !important
        height: auto
        margin-left: 5px !important
        margin-top: 5px !important
    .rbc-button-link
        span
            +typography(14px, 500, map-get($basic, "black"))

.modal-header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px

.delete-button
    margin-right: 30px


.inline-fields
    display: flex
    gap: 16px
    margin-bottom: 16px


.inline-fields .ant-form-item
    flex: 1

.event_name
    font-size: 14px !important
    font-weight: 500 !important
    color: rgba(0, 0, 0, 0.88) !important
    display: -webkit-box; /* Required for -webkit-line-clamp */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

.event_time
    font-size: 12px !important
    font-weight: 500 !important
    color: rgba(0, 0, 0, 0.45) !important


.modal-footer
    display: flex
    justify-content: flex-end
    gap: 8px

.rbc-allday-cell
    display: none

.rbc-header
    padding: 31px 0 !important
    border-bottom: none;